<header>
  <picture>
    <source media="(max-width: 750px)" srcset="images/bg-header-mobile.svg" />
    <img src="images/bg-header-desktop.svg" alt="" />
  </picture>
</header>

<div class="job-offers">
  @if (filters.length > 0) {
  <div class="filter-container">
    <div class="filters row">
      @for (filter of filters; track filter) {
      <div class="filter">
        <div class="name">{{ filter }}</div>
        <div class="delete" (click)="removeFilter(filter)">
          <img src="images/icon-remove.svg" alt="" />
        </div>
      </div>
      }
    </div>

    <div class="clear" (click)="clearFilters()">Clear</div>
  </div>
  }

  @for (job of getFilteredJobs(); track job.id) {
  <app-job-offer
    class="job-offer {{ job.featured ? 'featured' : '' }}"
    (addFilter)="addFilter($event)"
    [data]="job"
  />
  }
</div>
