<header>
  @if (screenWith > 750) {
    <img ngSrc="images/bg-header-desktop.svg" alt="header background" width="1440" height="156" priority />
  } @else {
    <img ngSrc="images/bg-header-mobile.svg" alt="header background" width="375" height="156" priority />
  }
</header>

<div class="job-offers">
  @if (filters.length > 0) {
  <div class="filter-container">
    <div class="filters row">
      @for (filter of filters; track filter) {
      <div class="filter">
        <div class="name">{{ filter }}</div>
        <div class="delete" (click)="removeFilter(filter)">
          <img ngSrc="images/icon-remove.svg" alt="remove icon" width="14" height="14" />
        </div>
      </div>
      }
    </div>

    <div class="clear" (click)="clearFilters()">Clear</div>
  </div>
  }

  @for (job of getFilteredJobs(); track job.id) {
  <app-job-offer
    class="job-offer {{ job.featured ? 'featured' : '' }}"
    (addFilter)="addFilter($event)"
    [data]="job"
  />
  }
</div>
